@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.my-button {
		@apply inline-block px-4 py-2 bg-my-blue-dark rounded-lg text-my-white uppercase text-xl transition hover:bg-my-white hover:text-my-blue-dark;
	}
}

@layer utilities {

	.active {
		@apply text-my-white bg-my-blue-light;
	}
	/*scrollbar reset*/
	::-webkit-scrollbar {
	    height: 12px;
	    width: 10px;
	    background-color: #E3E1DC;
	    /*background: red;*/
	}
	::-webkit-scrollbar-thumb {
	    height: 15px;
	    border-radius: 12px;
	    /*background: black;*/
	    background-color: #4FEBE6;
	}
	/* footer */
	.my-footer-card{
	  transition: .3s;
	}

	.my-footer-card::before{
	  content:'';
	  width: 120%;
	  height: 120%;
	  border-radius: 30%;
	  background: rgba(79,235,230,1);
	  position: absolute;
	  left:-150%;
	  bottom:-150%;
	  z-index:-3;
	}

	.my-footer-card:hover::before{
	  animation: iconHover 2s 1;
	  animation-fill-mode: forwards;
	  color:rgba(227, 225, 220,1);
	}

	.my-footer-card:hover{
	  transform: scale(1.1);
	}

	@keyframes iconHover{
	  0%{
	    left:-100%;
	    bottom:-100%;
	  }50%{
	    left:120%;
	    bottom:120%;
	  }100%{
	    left:30%;
	    bottom:20%;
	  }
	}

	/*Loading Animation*/
	.lds-hourglass {
	  display: inline-block;
	  position: relative;
	  width: 80px;
	  height: 80px;
	}
	.lds-hourglass:after {
	  content: " ";
	  display: block;
	  border-radius: 50%;
	  width: 0;
	  height: 0;
	  margin: 8px;
	  box-sizing: border-box;
	  border: 32px solid rgba(79,235,230,1);
	  border-color: rgba(79,235,230,1) transparent;
	  animation: lds-hourglass 1.2s infinite;
	}
	@keyframes lds-hourglass {
	  0% {
	    transform: rotate(0);
	    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	  }
	  50% {
	    transform: rotate(900deg);
	    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  }
	  100% {
	    transform: rotate(1800deg);
	  }
	}

	
	/* stars & twinkle */
	.star {
	  --twinkle-duration: "";
	  --twinkle-delay: "";
	  --star-size: "";
	  position: absolute;
	  width: var(--star-size);
	  height: var(--star-size);
	  background: #fff;
	  border-radius: 50%;
	  animation: twinkle infinite alternate;
	  animation-duration: var(--twinkle-duration);
	  animation-delay: var(--twinkle-delay);
	}
	  
	@keyframes twinkle {
	    from {
	        transform: scale(.1);
	    }
	    to {
	        transform: scale(1.5);
	        box-shadow: 0 0 5px 0.5px rgba(150, 150, 150, 0.6);
	    }
	}
}